body { text-align:center; font-family:Arial; }

input { padding:10px; margin:5px; }

#map { height:350px; width:95%; margin:auto; }

#results {
margin-top:20px;
background:#f2f2f2;
padding:15px;
width:90%;
margin:auto;
}
