body {
font-family:Arial;
text-align:center;
background:#f5f5f5;
}

input, button {
padding:10px;
margin:5px;
}

#result {
margin-top:20px;
background:white;
padding:20px;
width:350px;
margin:auto;
border-radius:8px;
}
